@import "variables/global";
@import "reset";

.main {
  overflow: hidden;
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 50px;
  position: relative;
}
