.error {
  height: 30px;
  margin: 15px;
  color: var(--main-color);
  font-size: var(--font-size-m);
  font-family: var(--input-font);
}

.formInput {
  font-family: var(--input-font);
  margin: 2px;
  width: 50%;
  height: 26px;
  padding: 3px;
  outline: none;
  border: none;
  font-size: var(--font-size-m);
  font-weight: 520;
  letter-spacing: 0.5px;
  border-radius: 4px;
}
.formInput::placeholder {
  letter-spacing: 0;
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  & button:hover {
    opacity: 0.5;
  }
}

.btnSignIn {
  font-family: var(--input-font);
  width: 60%;
  height: 30px;
  cursor: pointer;
  margin: 10px;
  background: transparent;
  border: var(--main-border);
  color: var(--main-color);
  font-size: var(--font-size-m);
  padding: 5px;
  border-radius: 5px;
}
.btnSignUp {
  font-family: var(--input-font);
  margin: 10px;
  width: 60%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: var(--main-border);
  color: var(--main-color);
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
.btnAuth {
  font-family: var(--input-font);
  margin: 10px;
  width: 85px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: var(--main-border);
  color: var(--main-color);
  font-size: var(--font-size-s);
  padding: 5px;
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
}
