.userAvatar {
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 2px solid whitesmoke; */
  position: relative;
}
.userContent {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.svg {
  position: absolute;
  fill: white;
  width: 48px;
  height: 48px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
.btnAuth {
  font-family: "Poppins", sans-serif;
  margin: 10px;
  width: 85px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
}
