@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap");

:root {
  // colors
  --main-bg-color: rgb(12, 10, 10);
  --main-color: whitesmoke;
  // fonts
  --main-font: "Ysabeau Infant", sans-serif;
  // fonts-size
  --font-size-m: 18px;
  --font-size-s: 14px;
  // styles
  --main-border: 1px solid var(--main-color);
}
