.mainWrapper {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapperCard {
  width: 90%;
  height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
}
.poster {
  width: 30%;
  height: 100%;
  background: center / 100% no-repeat;
  background-size: contain;
}
.description {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  width: 100%;
  height: 20px;
  text-align: center;
}
.infoWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.info {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  width: 100%;
  height: 90%;
}
.wrapperActors {
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  height: 130px;
  width: 80%;
  display: flex;
}
