.searchInput {
  min-width: 320px;
  height: 28px;
  padding-left: 8px;
  background: transparent;
  outline: none;
  border: var(--main-border);
  border-radius: 8px;
  font-size: var(--font-size-m);
  color: var(--main-color);
  margin-right: 10px;
}
.searchBtn {
  margin-right: 5px;
  width: 85px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: var(--main-border);
  color: var(--main-color);
  font-size: var(--font-size-s);
  padding: 5px;
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
}
