.wrapperBtn {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 20px;
  bottom: 20px;
  position: absolute;
  left: 36.7%;
}
.handleBtn > h1 {
  margin: 12px;
}

.handleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100px;
  height: 28px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.handleBtn:hover {
  opacity: 0.5;
}
