.wrapper {
  transition: transform 0.8s ease-in;
  display: flex;
  position: absolute;
  // bottom: -30%;
  min-width: 900px;
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: all;
  height: 10px;
  bottom: -28%;
}

.handleBtn {
  width: 30px;
  height: 70px;
  background-color: wheat;
  opacity: 0.8;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 40px;
  font-size: 20px;
  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1102px) {
  .wrapper {
    position: absolute;
    bottom: -30%;
    width: 100%;
    min-width: 320px;
  }
  .buttons {
    position: absolute;
    bottom: -10%;
  }
}
