.modalOverlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s ease;
  background-color: var(--modal-bg-color);
  pointer-events: none;
}

.modalOverlay.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

.modalContent {
  height: 10px;
  width: 10px;
  transition: all 0.6s ease;
  background-color: rgba(12, 10, 10, 99.3%);
}

.modalOverlay.visible .modalContent {
  height: 500px;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}
