.card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 25px;
  background: no-repeat center;
  background-size: 100%;
  cursor: pointer;
  transition: all, transform 0.3s ease-in;
}

.info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
  max-width: 200px;
  height: 50px;
  white-space: nowrap;
}
.textEllipsis {
  font-family: "Merriweather", serif;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
