@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  color: white;
  font-family: "Inter", sans-serif;
  border: 1px solid white;
  padding: 30px;
}
