.buttons {
  position: relative;
  bottom: 150px;
  left: 10%;
}
h2 {
  text-align: center;
}
.info {
  color: var(--main-color);
  font-size: var(--font-size-m);
}
.btnOk {
  width: 180px;
  height: 35px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(main-border);
  border-radius: 8px;
  font-family: var(--main-font);
  font-size: var(font-size-m);
  &:hover {
    opacity: 0.5;
  }
}
.reviews {
  height: 300px;
  text-align: center;
  font-size: 16px;
}
.reviewArea {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--font-size-l);
  font-family: var(--main-font);
  color: var(--main-color);
  resize: none;
  position: relative;
}

.reviewBtn {
  width: 180px;
  height: 35px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(main-border);
  margin: 20px 0 20px 169px;
  border-radius: 8px;
  font-family: var(--main-font);
  font-size: var(font-size-m);
  position: absolute;
  bottom: -155px;
  left: 295px;
  &:hover {
    opacity: 0.5;
  }
}

.deleteRw {
  width: 180px;
  height: 35px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(main-border);
  margin: 20px 0 20px 169px;
  border-radius: 8px;
  font-family: var(--main-font);
  font-size: var(font-size-m);
  position: absolute;
  bottom: -155px;
  left: 505px;
  &:hover {
    opacity: 0.5;
  }
}
.wrapper {
  width: 50%;
  height: 50%;
}
