.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 10, 10);
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 90px;
  padding: 20px;
  color: white;
  font-family: "Merriweather", serif;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  & > h3 {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.wrapper {
  position: relative;
  width: 80%;
  height: 350px;
  margin: 15px auto;
  color: white;
  padding: 15px;
  display: flex;
}

.wrapper > h1 {
  margin: auto;
}

.container {
  margin: 0 auto;
  width: 77%;
  margin-bottom: 50px;
  font-family: "Ysabeau Infant", sans-serif;
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 24px;
}

.containerArrayReviews {
  width: 79.3%;
  margin: 5px auto;
  height: 30vh;
  display: flex;
  transition: transform 0.8s ease-in;
}

.rCard {
  min-width: 140px;
  height: 100%;
  background: center / 100% no-repeat;
  margin: 5px;
  cursor: pointer;
}
.rCard:hover {
  opacity: 0.5;
}

.deleteAll {
  width: 200px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.deleteAll:hover {
  opacity: 0.5;
}

.svg {
  fill: white;
  position: absolute;
  top: -6px;
  bottom: -10px;
  width: 50px;
  height: 40px;
}
