.card {
  position: relative;
  width: 200px;
  height: 330px;
  margin: 25px;
  background: no-repeat center;
  background-size: 100%;
  cursor: pointer;
  transition: all, transform 0.3s ease-in;
}

.info {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  text-align: center;
  user-select: none;
}

.card:hover {
  opacity: 0.4;
  transform: scale(1.1);
}
