.iframe {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 265px;
  top: 0;
  border: none;
  display: block;
}

.wrapperTrailer {
  width: 100%;
}
.btnHandle {
  width: 100%;
  height: 50px;
  border: var(--main-border);
  background-color: transparent;
  color: var(--main-color);
  font-family: var(--main-font);
  cursor: pointer;
  font-size: var(--font-size-m);
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
}
