.wrapperContentCard {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
}

.cardImage {
  width: 28%;
  height: 100%;
  background-size: 100%;
}
.wrapperContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px 0 0 5px;
  height: 100%;
}

.movieInfo {
  height: 30%;
  width: 100%;
  font-size: 19px;
}
.movieDescription {
  display: flex;
  margin-top: 10px;
  height: 50%;
  width: 100%;
  font-size: 19px;
}
.btnsWrapper {
  display: flex;
  justify-content: space-between;
  height: 12%;
  width: 100%;
}
.movieRating {
  margin-top: 15px;
  width: 100%;
  font-size: var(--font-size-l);
}

.btnDelete {
  width: 300px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(--main-border);
  font-size: var(--font-size-m);
  margin: 20px 0 20px 0px;
  border-radius: 10px;
}

.btnDelete:hover {
  opacity: 0.5;
}

.rating {
  margin: 5px;
}
