.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto 80px;
  color: var(--main-color);
  padding: 20px;
  align-content: flex-start;
}

.buttonBack {
  width: 15%;
  background: transparent;
  outline: none;
  border: var(--main-border);
  color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
}
