@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  color: var(--main-color);
  padding: 30px;
  height: 100%;
  align-content: flex-start;
}
