.container {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
}

.smiles {
  font-size: 35px;
  cursor: pointer;
}

.cancelBtn {
  position: absolute;
  right: -50px;
  bottom: -10px;
  width: 130px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(--main-border);
  margin: 20px 0 20px 178px;
  border-radius: 10px;
  font-family: var(--main-font);
  font-size: var(--font-size-l);
}

.cancelBtn:hover {
  opacity: 0.5;
}

.infoRating {
  position: absolute;
  bottom: 10px;
}
