h3 {
  white-space: nowrap;
  font-size: 1.2em;
  transition: font-size 0.3s ease-in-out;
}

.textActive {
  background: linear-gradient(to right, var(--sidebar-bg-color) 12%, #525151 330%);
  width: 101%;
}
