.card {
  width: 180px;
  height: 180px;
  background: center no-repeat;
  background-size: 70%;
  margin-top: 25px;
  cursor: pointer;
  opacity: 0.9;
  text-align: center;
  align-items: center;
}

.wrapper > h4 {
  color: rgb(245, 241, 241);
}
