.wrapper {
  height: 500px;
  width: 300px;
  margin: 10px;
}
.poster {
  height: 100%;
  width: 100%;
  background: center / 100% no-repeat;
}
.myReviews {
  width: 70%;
  height: 360px;
  position: absolute;
  bottom: 118px;
  right: 130px;
}
