@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;1,6..12,300&display=swap");
.Sidebar {
  display: flex;
  align-self: center;
  width: 295px;
  height: 550px;
  transition: transform 0.5s ease;
  background-color: rgb(14, 14, 19);
  position: absolute;
  right: 0.1%;
  top: 6vh;
  z-index: 100;
  border-radius: 15px 0 0 15px;
  font-family: "Nunito Sans", sans-serif;
}

.Sidebar.Collapsed {
  transform: translateX(90%);
}

.btnHandleSidebar {
  cursor: pointer;
  color: whitesmoke;
  width: 10%;
  font-size: 22px;
  background-color: transparent;
  border: none;
  &:hover {
    opacity: 0.5;
  }
}

.routes {
  width: 60%;
  height: 40%;
  margin: 20px 45px 0 0;
  padding: 10px;
  font-size: 1.1rem;
  color: whitesmoke;
  & > h3:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  & > h3 {
    margin: 5px;
  }
}

.icons {
  position: relative;
  width: 30px;
  height: 50%;
}

.svgReview {
  margin-top: 50px;
  fill: white;
  width: 40px;
  height: 40px;
}
.svgWantToSee {
  fill: white;
  width: 90px;
  height: 90px;
}
