.btn {
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  margin: 20px 0 20px 178px;
  border-radius: 10px;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 17px;
}

.btn:hover {
  opacity: 0.5;
}
