.btn {
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(--main-border);
  margin: 20px 0 20px 178px;
  border-radius: 10px;
  font-size: var(--font-size-m);
}

.btn:hover {
  opacity: 0.5;
}

@media (max-width: 1102px) {
  .btn {
    position: absolute;
    height: 23px;
    bottom: -4px;
    left: -34.3%;
    width: 50%;
    font-size: 15px;
  }
}
