.collectionFill {
  position: absolute;
  font-size: 25px;
  bottom: 20px;
  right: 11px;
  opacity: 1;
  color: red;
}

.collectionEmpty {
  position: absolute;
  font-size: 25px;
  bottom: 20px;
  right: 11px;
  opacity: 1;
  color: rgb(148, 144, 144);
}

.collectionEmpty:hover {
  color: rgb(250, 12, 12);
}

.collectionFill:hover {
  opacity: 0.5;
}
