@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.wrapperCard {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  width: 1800px;
}
.content {
  width: 25%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.poster {
  width: 100%;
  height: 90%;
  background: center / 100% no-repeat;
}
.rating {
  display: flex;
  position: relative;
  height: 150px;
  color: var(--main-color);
  font-size: var(--font-size-l);
  font-family: var(--main-font);
}

.info {
  position: absolute;
  bottom: -245px;
  height: 40%;
  width: 100%;
}
.userRate {
  margin-left: 5px;
}

.rateBtn {
  width: 230px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 15px;
  text-align: center;
  color: var(--main-color);
  border: var(--main-border);
  border-radius: 8px;
  font-size: var(--font-size-m);
}
.reviewBtn {
  width: 170px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 15px;
  text-align: center;
  color: var(--main-color);
  border: var(--main-border);
  font-size: var(--font-size-m);
  border-radius: 8px;
}
.reviewBtn:hover {
  opacity: 0.5;
}

.rateBtn:hover,
.reviewBtnAfter:hover {
  opacity: 0.5;
}

.rate {
  position: absolute;
  width: 60%;
  background-color: black;
  top: 0;
  height: 160px;
  display: flex;
  left: -1px;
  justify-content: center;
  border-radius: 0px 25px 25px 0px;
}

.rateContent {
  text-align: center;
  padding: 30px;
  font-size: 46px;
  width: 70%;
  height: 20%;
  margin: 9% auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.btnDelete {
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(--main-border);
  margin: 20px 0 27px 169px;
  border-radius: 10px;
  font-family: var(--main-font);
  font-size: 16px;
  position: absolute;
  bottom: -18px;
  right: 10px;
}

.btnDelete:hover {
  opacity: 0.5;
}

.btnChangeRate {
  width: 150px;
  height: 35px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--main-color);
  border: var(--main-border);
  margin: 20px 0 20px 169px;
  border-radius: 5px;
  font-size: var(--font-size-m);
  position: absolute;
  bottom: 60px;
  left: -170px;
}
.btnChangeRate:hover {
  opacity: 0.5;
}
