.wantToSeePlus {
  width: 25%;
  height: 15%;
  position: absolute;
  bottom: 45px;
  bottom: 30%;
  right: 5px;
  stroke: gray;
}
.wantToSeeMinus {
  width: 25%;
  height: 15%;
  position: absolute;
  bottom: 30%;
  right: 5px;
  stroke: rgb(44, 44, 247);
}
.wantToSeePlus:hover {
  stroke: rgb(44, 44, 247);
}
.wantToSeeMinus:hover {
  stroke: red;
}
