.wantToSeePlus {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 45px;
  right: 5px;
  stroke: gray;
}
.wantToSeeMinus {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 45px;
  right: 5px;
  stroke: rgb(44, 44, 247);
}
.wantToSeePlus:hover {
  stroke: rgb(44, 44, 247);
}
.wantToSeeMinus:hover {
  stroke: red;
}
