@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 30px;
  /* height: 100vh; */
}
.information {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 60px;
  border: 1px solid white;
}
.disinformation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 60px;
  border: 1px solid red;
}
