.userAvatar {
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.userContent {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 80px;
}
.svg {
  position: absolute;
  fill: var(--main-color);
  width: 48px;
  height: 48px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
.btnAuth {
  font-family: var(--main-font);
  margin: 10px;
  width: 90px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: var(--main-border);
  color: var(--main-color);
  font-size: var(--font-size-m);
  border-radius: 5px;
  &:hover {
    opacity: 0.5;
  }
}

.email {
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1102px) {
  .email {
    position: absolute;
    font-size: 16px;
    top: -14px;
    right: -120px;
  }
}
