.wrapper {
  height: 350px;
  width: 300px;
  margin: 10px;
  z-index: 2;
}
.poster {
  height: 100%;
  width: 100%;
  background: center / 85% no-repeat;
}
.myReviews {
  width: 70%;
  height: 360px;
  position: absolute;
  bottom: 118px;
  right: 130px;
}
