.navigation {
  width: 55%;
  margin: 10px auto;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  font-size: 14px;
}
.navigation > h3 {
  cursor: pointer;
  font-weight: 450;
}
.navigation > h3:hover {
  opacity: 0.5;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  width: 440px;
  align-items: center;
}
