.wrapper {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: var(--main-bg-color);
}

.navigation {
  width: 60%;
  margin: 10px auto;
  align-items: center;
  display: flex;
  height: 50px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: var(--font-size-m);
  transition: all 0.3s ease;
}
.navigation > h3 {
  cursor: pointer;
  font-weight: 450;
}
.navigation > h3:hover {
  opacity: 0.5;
}
